@model SGATCC.Areas.Coordenador.ViewModel.CriarDisciplinaViewModel

@{
    ViewData["Title"] = "Cadastrar nova Disciplina";
}

<h1>Cadastrar nova Disciplina</h1>

<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div> 
        <div class="col-md-3">
            <label asp-for="CursoId" class="control-label"></label>
            <select asp-for="CursoId" class="form-control" asp-items="ViewBag.lstCursos"></select>
            <span asp-validation-for="CursoId" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="CargaHoraria" class="control-label">Carga Horaria</label>
            <input asp-for="CargaHoraria" class="form-control" />
            <span asp-validation-for="CargaHoraria" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Salvar" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-light">Voltar</a>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
